// CUERPO INDEX
.index {
    background-color:#ffffff;

&__section {
    margin-top: 20px;
    margin-left: 5%;
}
&__img {
    margin: 20px auto 10Ppx 10px;
    width: 70%;
    height:50%;
    text-align: center;
}
&__img img:hover {
    color: #1FAB89;
    opacity: 1;
    transform: scale(1);
    transition: all 1s;
    width: 97%;
    filter: sepia(100%);
}

// CUERPO PLANES
}
.planes {
    background-color: #ffffff;
    &__img {
        width: 50%;
    }
}
// CUERPO CLIENTES
.clientes {
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    width: 70%;
    height: 100%;
    & h2 {
        text-align: center;
        margin-top: 10px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 10px;
        width: 70%;
        height: 100%;
    
    }
}
// CUERPO EQUIPO
.equipo {
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    width: 70%;
    height: 100%;
    & h5 {
        font-size: 12px;
        text-align: center;
        margin-top: 10px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 10px;
        width: 70%;
        height: 100%;
    }
}
.titulos {
    font-size: 20px;
    text-align: center;
    
}
// CUERPO CONTACTO
.contacto {
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    width: 60%;
    height: 100%;
    & h5 {
        text-align: center;
        margin-top: 10px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 10px;
        width: 70%;
        height: 100%;
    }
    & h2 {
        text-align: center;
        margin-top: 10px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 10px;
        width: 70%;
        height: 100%;
    }
}