@media screen and (max-width: 768px) {
    .redes__cel {
        visibility: hidden;
        display:none !important;
    }
    .redes__pc {
        visibility:visible;
    }
    .header__logocel {
        visibility: hidden;
        display:none !important;
    }
    .planes__img {
        width: 20%;
    }
    .index {
        margin-top: 20px;
        margin-left: 20%;
    }
    .index__section {
        margin-top: 20px;
        margin-left: 20%;        
    }
}
@media screen and (max-width: 576px) {
    .redes__cel {
        visibility: hidden;
        display:none !important;
    }
    .redes__pc {
        visibility:visible;
    }
    .header__logocel {
        visibility: hidden;
        display:none !important;
    }
    .planes__img {
        width: 20%;
    }
    .index {
        margin-top: 20px;
        margin-left: 20%;
    }
    .index__section {
        margin-top: 20px;
        margin-left: 20%;        
    }
}
@media screen and (max-width: 992px) {
    .redes__cel {
        visibility: hidden;
        display:none !important;
    }
    .redes__pc {
        visibility:visible;
    }
    .header__logocel {
        visibility: hidden;
        display:none !important;
    }
    .planes__img {
        width: 20%;
    }
    .index {
        margin-top: 20px;
        margin-left: 20%;
    }
    .index__section {
        margin-top: 20px;
        margin-left: 20%;        
    }
}