// Todo el Footer
.footer {
    background-color: #1FAB89;
    text-align: center;
        //Botones de las Redes sociales - Header//
        .redes__pc {    
            visibility: hidden;
        }
    }

//Botones de Las redes con MAPS    
$redes_sociales: (
    twitter: #14171A,
    facebook: #3b5998,
    whatsapp: #ffffff,
    youtube: #FF0000,
    instagram: #C13584
);
    
@each $red, $color in $redes_sociales {
    .#{$red} {
        color: $color;
        font-size: 25px;
        margin: 5px 5px 5px 5px;
        &:hover {
            color: white;
            font-size: 27px;
            margin: 5px 5px 5px 5px;
        }
    }
}
/* Boton Flotante de Whatsapp */
.whatsapp__flotante {
    position:fixed;
    width:60px;
    height:60px;
    bottom:40px;
    right:40px;
    background-color:#25d366;
    color:#FFF;
    border-radius:50px;
    text-align:center;
    font-size:30px;
    z-index:100;
    
    .whatsapp-icon {
        margin-top:13px;
      }
  
}
